.ant-modal-close :active {
    border-color: seashell;
    border: 1px solid transparent; 
}
.ant-modal-close :focus {
    border-color: seashell;
    border: 1px solid transparent; 
}

.ant-modal-close-x :focus{
    border-color: seashell;
    border: 1px solid transparent; 
}

.ant-modal-close-x :active{
    border-color: seashell;
    border: 1px solid transparent; 
}